@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
html h2, body h2 {
  font-family: "DM Sans", "sans-serif";
  font-weight: 700;
  font-size: 35px;
}
@media (min-width: 760px) {
  html h2, body h2 {
    font-size: 45px;
  }
}
html .orange-p, body .orange-p {
  font-weight: 400;
  color: #F94D1C;
  font-size: 16px;
  margin-bottom: 10px;
}
html h3, body h3 {
  font-size: 22px;
  font-family: "DM Sans" "Sans-serif";
  font-weight: 700;
}
html h4, body h4 {
  font-size: 20px;
  font-family: "DM Sans" "Sans-serif";
  font-weight: 700;
}

.squiggly-lines {
  position: absolute;
}

.success {
  background-color: #deffeb;
}

.error {
  background-color: #ff9494;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #fff;
  border: 1px solid #191919;
  color: #191919;
}

.transition {
  transition: all 200ms ease-in-out;
}

.round-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.round-buttons a {
  font-size: 12px;
  text-decoration: none;
  color: #191919;
  opacity: 0.3;
}
.round-buttons a.active, .round-buttons a:hover {
  opacity: 1;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-content {
  display: flex;
  justify-content: end;
  align-items: end;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  border-right: 1px solid #DAD9D3;
}
header .container .menu .top-menu .contact-information .content-box a {
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #191919;
}
header .container .menu .top-menu .contact-information .content-box a:hover {
  text-decoration: underline;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 10px;
  padding-bottom: 10px;
}

.showcase-section {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase-section .squiggly-lines {
  z-index: -1;
  bottom: 0;
  display: none;
}
@media (min-width: 992px) {
  .showcase-section .squiggly-lines {
    display: inline;
  }
}
.showcase-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase-section .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase-section .container .content {
    text-align: left;
  }
}
.showcase-section .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase-section .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase-section .container .content h1 {
    font-size: 86px;
  }
}
.showcase-section .container .content p {
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase-section .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase-section .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase-section .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase-section .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase-section .container img {
    display: block;
  }
}

@media (min-width: 1400px) {
  .features-section .container {
    max-width: 1520px;
  }
}
.features-section .container .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 578px) {
  .features-section .container .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 100px 45px 10px 45px;
  }
}
@media (min-width: 992px) {
  .features-section .container .partners {
    margin: 100px 45px;
  }
}
@media (min-width: 1400px) {
  .features-section .container .partners {
    margin: 100px 100px;
  }
}
.features-section .container .partners .show {
  display: inline;
}
@media (min-width: 576px) {
  .features-section .container .partners .show {
    display: none;
  }
}
@media (min-width: 992px) {
  .features-section .container .partners .show {
    display: inline;
  }
}
.features-section .container .partners a:hover {
  opacity: 0.5;
}
@media (max-width: 992px) {
  .features-section .container .partners a {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.features-section .container .hidden {
  display: none;
}
.features-section .container .hidden a:hover {
  opacity: 0.5;
}
@media (min-width: 576px) {
  .features-section .container .hidden {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .features-section .container .hidden {
    display: none;
    margin: 0px;
  }
}
.features-section .container .features {
  display: flex;
}
@media (min-width: 1400px) {
  .features-section .container .features {
    border: 1px #DAD9D3 solid;
    height: 600px;
  }
}
.features-section .container .features .part-one {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .features-section .container .features .part-one {
    align-items: start;
    margin-top: 81px;
    margin-left: 100px;
    margin-bottom: 216px;
  }
}
@media (min-width: 1400px) {
  .features-section .container .features .part-one {
    margin-left: 100px;
  }
}
@media (max-width: 992px) {
  .features-section .container .features .part-one p {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .features-section .container .features .part-one h2 {
    text-align: start;
    padding-bottom: 50px;
    width: 460px;
    margin-right: 100px;
  }
}
.features-section .container .features .part-one a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features-section .container .features .part-one a {
    padding: 15px 170px;
  }
}
.features-section .container .features .part-two {
  display: none;
}
@media (min-width: 1200px) {
  .features-section .container .features .part-two {
    display: flex;
    margin-top: 81px;
    margin-bottom: 81px;
  }
}
@media (min-width: 1400px) {
  .features-section .container .features .part-two {
    margin-right: 100px;
  }
}
.features-section .container .features .part-two .icons-right {
  margin-left: 115px;
  margin-right: 75px;
}
.features-section .container .features .part-two i {
  font-size: 40px;
  margin-bottom: 40px;
  color: #353535;
}
.features-section .container .features .part-two p {
  color: #7a7a7a;
  margin-bottom: 65px;
}
.features-section .container .features .part-two h3 {
  margin-bottom: 30px;
}

.about-section .container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (min-width: 1200px) {
  .about-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about-section .container .samantha {
  display: none;
  position: relative;
}
@media (min-width: 1200px) {
  .about-section .container .samantha {
    display: block;
  }
}
.about-section .container .samantha img {
  width: auto;
  height: 500px;
  margin-left: 55px;
}
@media (min-width: 1400px) {
  .about-section .container .samantha img {
    width: auto;
    height: 615px;
  }
}
.about-section .container .samantha .samantha-info {
  bottom: 7rem;
  width: 368px;
  height: 180px;
  background-color: #BEEBFF;
  position: absolute;
}
@media (min-width: 1400px) {
  .about-section .container .samantha .samantha-info {
    bottom: 2.5rem;
  }
}
.about-section .container .samantha .samantha-info div {
  margin-left: 22px;
  margin-top: 40px;
}
.about-section .container .samantha .samantha-info div h4 {
  display: inline;
}
.about-section .container .samantha .samantha-info div .orange-p {
  display: inline;
  font-family: "DM Sans" "Sans-seriff";
  font-size: 16px;
  font-weight: 700;
}
.about-section .container .samantha .samantha-info div p {
  margin-top: 25px;
  font-weight: 400;
}
.about-section .container .about-company {
  text-align: center;
}
@media (min-width: 1200px) {
  .about-section .container .about-company {
    margin-left: 200px;
    text-align: start;
    width: 535px;
  }
}
.about-section .container .about-company h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}
.about-section .container .about-company .lorem {
  margin-top: 50px;
  margin-bottom: 120px;
}
.about-section .container .about-company .btn-black {
  display: block;
  margin-right: 0px;
  margin-bottom: 25px;
}
@media (min-width: 576px) {
  .about-section .container .about-company .btn-black {
    margin-bottom: 0px;
    margin-right: 30px;
    display: inline;
  }
}
.about-section .container .about-company .video-button {
  color: #191919;
  text-decoration: none;
  font-weight: 600;
}
.about-section .container .about-company .video-button i {
  text-align: center;
  width: 55px;
  height: 55px;
  border: 1px solid #191919;
  padding: 18px;
  border-radius: 100%;
  margin-right: 30px;
}
.about-section .container .about-company .video-button:hover {
  text-decoration: underline;
}
.about-section .container .about-company .video-button:hover i {
  color: #fff;
  background-color: #191919;
}

.services-section {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.services-section .squiggly-lines {
  z-index: -1;
  bottom: 0;
  right: 0;
}
.services-section .container {
  padding: 120px 0px;
  text-align: center;
}
@media (min-width: 1400px) {
  .services-section .container {
    text-align: start;
  }
}
.services-section .container h2 {
  margin-bottom: 50px;
}
.services-section .container .services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-around;
  gap: 30px;
}
@media (min-width: 768px) {
  .services-section .container .services-box {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1400px) {
  .services-section .container .services-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.services-section .container .services-box a {
  text-decoration: none;
  color: #191919;
  background-color: #fff;
  width: 310px;
  height: 330px;
  padding: 45px 30px;
}
.services-section .container .services-box a .border-bit {
  width: 40px;
  height: 1px;
  background-color: #191919;
  margin-bottom: 45px;
}
.services-section .container .services-box a p {
  font-weight: 200;
}
.services-section .container .services-box a i {
  font-size: 20px;
  text-align: center;
  background-color: #191919;
  color: #fff;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  padding-top: 18px;
}
.services-section .container .services-box a:hover {
  background-color: #F9D783;
}
.services-section .container .services-box a:hover i {
  background-color: #fff;
  color: #191919;
}

@media (min-width: 1200px) {
  .choose-us-section {
    background-color: white;
    background-image: linear-gradient(to right, #F0EFE9 60%, rgba(0, 0, 0, 0) 20%);
    background-size: 100% 70%;
    background-position: 40dvw 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1400px) {
  .choose-us-section {
    background-position: 45dvw 100%;
  }
}
.choose-us-section .container {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .choose-us-section .container {
    justify-content: space-between;
    align-items: start;
  }
}
@media (max-width: 1200px) {
  .choose-us-section .container .why-choose-us {
    margin: auto;
  }
}
.choose-us-section .container .why-choose-us h2 {
  margin-top: 25px;
  max-width: 400px;
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us-section .container .why-choose-us h2 {
    text-align: start;
  }
}
.choose-us-section .container .why-choose-us .orange-p {
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us-section .container .why-choose-us .orange-p {
    text-align: start;
  }
}
.choose-us-section .container .why-choose-us .headlines {
  display: flex;
  margin-top: 45px;
}
.choose-us-section .container .why-choose-us .headlines i {
  margin-right: 25px;
  border: solid 1px #DAD9D3;
  border-radius: 100%;
  font-size: 32px;
  height: 60px;
  width: 60px;
  text-align: center;
  padding-top: 13px;
}
.choose-us-section .container .why-choose-us .headlines p {
  font-weight: 200;
}
.choose-us-section .container .choose-us-img img {
  margin-top: 50px;
  display: none;
}
@media (min-width: 1200px) {
  .choose-us-section .container .choose-us-img img {
    height: auto;
    width: 90%;
    display: block;
  }
}
@media (min-width: 1400px) {
  .choose-us-section .container .choose-us-img img {
    height: 505px;
    width: 645px;
    display: block;
  }
}

.projects-section .container .title-part {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .projects-section .container .title-part {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.projects-section .container .title-part h2 {
  text-align: center;
}
.projects-section .container .project-part {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .projects-section .container .project-part {
    grid-template-columns: 1fr 1fr;
  }
}
.projects-section .container .project-part a {
  text-decoration: none;
  color: #191919;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.projects-section .container .project-part a:hover p {
  text-decoration: underline;
}
.projects-section .container .project-part a:hover h3 {
  border-bottom: 1px solid #191919;
}
.projects-section .container .project-part a:hover img {
  opacity: 0.5;
}
.projects-section .container .project-part a img {
  height: auto;
  width: 100%;
}
.projects-section .container .project-part a h3 {
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.projects-section .container .project-part a p {
  padding: 15px;
  color: #191919;
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.projects-section .container .project-part a p i {
  margin-left: 3px;
}
.projects-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-section {
  background-color: #F9D783;
  padding-top: 125px;
  padding-bottom: 70px;
}
.meet-section .container .part-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 100px;
  text-align: center;
}
@media (min-width: 1400px) {
  .meet-section .container .part-one {
    flex-direction: row;
    text-align: start;
  }
}
.meet-section .container .part-one h2 {
  margin-top: 20px;
}
.meet-section .container .part-one .btn-transparent {
  align-self: center;
  margin-top: 15px;
}
@media (min-width: 1400px) {
  .meet-section .container .part-one .btn-transparent {
    margin-top: 0px;
    margin-bottom: 5px;
    align-self: end;
  }
}
.meet-section .container .part-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-around;
}
.meet-section .container .part-two img {
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .meet-section .container .part-two {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
}
@media (min-width: 1400px) {
  .meet-section .container .part-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.testimonial-section {
  background-color: #F9D783;
  padding-bottom: 120px;
}
.testimonial-section .container {
  text-align: center;
  background-color: #fff;
  padding: 120px 0px;
}
@media (min-width: 576px) {
  .testimonial-section .container {
    padding: 120px;
  }
}
@media (min-width: 1400px) {
  .testimonial-section .container {
    max-width: 1520px;
  }
}
.testimonial-section .container h2 {
  margin: 35px 0px 100px;
}
.testimonial-section .container .reviews {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .testimonial-section .container .reviews {
    flex-direction: row;
  }
}
.testimonial-section .container .reviews .content-box {
  text-align: center;
  margin-bottom: 100px;
}
@media (min-width: 576px) {
  .testimonial-section .container .reviews .content-box {
    text-align: start;
    max-width: 325px;
    max-height: 310px;
  }
}
.testimonial-section .container .reviews .content-box .review-text {
  line-height: 1;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .testimonial-section .container .reviews .content-box .review-text {
    line-height: 1.8;
  }
}
.testimonial-section .container .reviews .content-box .stars {
  font-size: 14px;
  color: #F94D1C;
  margin-bottom: 28px;
}
@media (min-width: 1400px) {
  .testimonial-section .container .reviews .content-box .reviewer {
    display: flex;
  }
}
.testimonial-section .container .reviews .content-box .reviewer .orange-p {
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 1400px) {
  .testimonial-section .container .reviews .content-box .reviewer .orange-p {
    border: none;
  }
}
.testimonial-section .container .reviews .content-box .reviewer img {
  margin-right: 20px;
  display: none;
}
@media (min-width: 576px) {
  .testimonial-section .container .reviews .content-box .reviewer img {
    display: inline;
  }
}

.article-section {
  padding: 120px 0px 90px;
}
.article-section .container .part-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 100px;
  text-align: center;
}
@media (min-width: 1400px) {
  .article-section .container .part-one {
    flex-direction: row;
    text-align: start;
  }
}
.article-section .container .part-one h2 {
  margin-top: 20px;
}
.article-section .container .part-one .btn-transparent {
  align-self: center;
  margin-top: 15px;
}
@media (min-width: 1400px) {
  .article-section .container .part-one .btn-transparent {
    margin-top: 0px;
    margin-bottom: 5px;
    align-self: end;
  }
}
.article-section .container .part-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
  text-align: center;
}
@media (min-width: 1200px) {
  .article-section .container .part-two {
    flex-direction: row;
    text-align: start;
  }
}
.article-section .container .part-two a {
  text-decoration: none;
  color: #191919;
  position: relative;
}
.article-section .container .part-two a h3 {
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .article-section .container .part-two a h3 {
    max-width: 310px;
  }
}
.article-section .container .part-two a:hover {
  text-decoration: underline;
}
.article-section .container .part-two a:hover img {
  opacity: 0.5;
}
.article-section .container .part-two a img {
  height: auto;
  width: 100%;
  margin-bottom: 36px;
}
.article-section .container .part-two a .business-color {
  color: #6A6C71;
}
.article-section .container .part-two a .absolute-date {
  position: absolute;
  text-align: center;
  top: 16px;
  left: 16px;
  background-color: #F9D783;
  width: 56px;
  height: 65px;
}
.article-section .container .part-two a .absolute-date h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.mail-signup-section {
  padding: 105px 0px;
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.mail-signup-section .squiggly-lines {
  right: 0;
  bottom: 3rem;
  z-index: -1;
}
.mail-signup-section .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .mail-signup-section .container {
    flex-direction: row;
  }
}
.mail-signup-section .container h2 {
  text-align: center;
}
.mail-signup-section .container .subscribe {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 576px) {
  .mail-signup-section .container .subscribe {
    flex-direction: row;
  }
}
.mail-signup-section .container .subscribe form {
  text-align: center;
}
.mail-signup-section .container .subscribe form input {
  width: 308px;
  padding: 15px;
  border-radius: 40px;
  border: hidden;
}
@keyframes easteregg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 576px) {
  .mail-signup-section .container .subscribe .btn-yellow {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400%;
    animation: easteregg 3s infinite;
  }
  .mail-signup-section .container .subscribe .btn-yellow:hover {
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
    background-size: 400% 400%;
    animation: easteregg 3s infinite;
  }
}

.contact-showcase {
  background-color: #F0EFE9;
  padding: 114px 0px;
  position: relative;
  z-index: 0;
}
.contact-showcase .squiggly-lines {
  z-index: -1;
  bottom: 0;
  display: none;
}
@media (min-width: 992px) {
  .contact-showcase .squiggly-lines {
    display: inline;
  }
}
.contact-showcase .container {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  text-align: center;
}
.contact-showcase .container a {
  color: #191919;
  margin: 0px 20px;
  text-decoration: none;
}
.contact-showcase .container a.active {
  font-weight: 500;
}
.contact-showcase .container h1 {
  font-family: "DM Sans", "Sans-seriff";
  font-size: 56px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .contact-form {
    padding-bottom: 125px;
  }
}
.contact-form .info {
  display: block;
  margin-top: 120px;
}
@media (min-width: 992px) {
  .contact-form .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.contact-form .info .columns {
  border: 1px solid #DAD9D3;
  display: grid;
  grid-template-columns: auto auto;
}
@media (min-width: 992px) {
  .contact-form .info .columns {
    width: 370px;
    height: 205px;
  }
}
@media (min-width: 1400px) {
  .contact-form .info .columns {
    width: 420px;
  }
}
.contact-form .info .columns i {
  font-size: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 20px 15px 15px;
  align-self: start;
  color: white;
  background-color: #191919;
  border-radius: 50px;
  margin-left: 60px;
  margin-top: 50px;
  margin-right: 14px;
}
.contact-form .info .columns h3 {
  font-family: "DM Sans" "Sans-seriff";
  font-size: 22px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}
.contact-form .info .columns a {
  display: block;
  color: #191919;
  text-decoration: none;
  font-family: "inter" "Sans-seriff";
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
}
@media (min-width: 1400px) {
  .contact-form .info .columns a {
    font-size: 18px;
    margin-right: 100px;
  }
}
.contact-form .info .columns a:hover {
  color: #7a7a7a;
  text-decoration: underline;
}
.contact-form .info .columns a p {
  margin: 0px;
}
.contact-form .form-part {
  margin-top: 80px;
  background-color: #F0EFE9;
  padding-bottom: 100px;
}
.contact-form .form-part h2 {
  font-family: "DM Sans" "Sans-seriff";
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
}
.contact-form .form-part form {
  margin-top: 30px;
  text-align: center;
}
.contact-form .form-part form input {
  width: 80%;
  padding: 20px;
  border-radius: 40px;
  border: hidden;
}
.contact-form .form-part form label {
  margin: 20px 0px 10px;
}
.contact-form .form-part form textarea {
  width: 80%;
  height: 160px;
  padding: 20px;
  border-radius: 40px;
  border: hidden;
  resize: none;
}
.contact-form .form-part form .errorSpan {
  height: 2rem;
  color: #b10000;
}
.contact-form .form-part form span {
  display: block;
}
.contact-form .form-part button {
  width: 80%;
  text-align: center;
  margin: 40px 0;
}

.contact-map iframe {
  width: 100%;
  height: 620px;
}

footer {
  background-color: #0E1021;
  color: #fff;
  padding-top: 115px;
}
footer .top-footer {
  padding-bottom: 90px;
  position: relative;
  z-index: 0;
}
footer .top-footer .squiggly-lines {
  bottom: 0;
  right: 0;
  z-index: -1;
}
footer .top-footer .footer-menu {
  display: flex;
  justify-content: space-between;
}
footer .top-footer .footer-menu .menu-bars {
  color: #fff;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  footer .top-footer .footer-menu .menu-bars {
    display: none;
  }
}
footer .top-footer .footer-menu .link-list {
  display: none;
}
@media (min-width: 992px) {
  footer .top-footer .footer-menu .link-list {
    display: flex;
    flex-direction: column;
  }
}
footer .top-footer .footer-menu .link-list a {
  margin-top: 25px;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: #fff;
  padding: 0px;
}
footer .top-footer .footer-menu .link-list a:hover {
  text-decoration: underline;
  color: hotpink;
}
footer .top-footer .footer-menu .link-list h3 {
  margin-bottom: 50px;
}
footer .top-footer .footer-menu p {
  max-width: 300px;
  margin-top: 35px;
  display: none;
}
@media (min-width: 992px) {
  footer .top-footer .footer-menu p {
    display: block;
  }
}
footer .footer-border {
  width: 100%;
  border: 1px solid #454545;
}
footer .bot-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
@media (min-width: 992px) {
  footer .bot-footer {
    display: flex;
    justify-content: space-between;
  }
}
footer .bot-footer p {
  margin-bottom: 10px;
  font-size: 14px;
  color: hotpink;
}
@media (min-width: 576px) {
  footer .bot-footer p {
    margin: 0;
    font-size: 16px;
    color: #fff;
  }
}
footer .bot-footer .social-media a {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 20px;
}
footer .bot-footer .social-media a:hover {
  color: hotpink;
}